# Dependencies
/node_modules
.prettierrc
# Environment variables
.env

allExactlySameHotelName.js
# Logs
logs
*.log

# Build files
/build

# Coverage output
/coverage

# Dependency directories
/.pnp
.pnp.js

# Testing
/coverage

# MongoDB files


# IDE-specific files
.vscode
.idea

# OS-specific files
.DS_Store
Thumbs.db

